.tooltip {
  position: relative;
  display: inline-block;
  color:#56e;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
height:300px;
overflow: scroll;
  background-color: white;
  color: #000;
  text-align: left;
  border-radius: 6px;
-moz-box-shadow: 10px 10px 5px #bbb;
-webkit-box-shadow: 10px 10px 5px #bbb;
box-shadow: 10px 10px 5px #bbb;
  padding: 15px;
display:block;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 80;
  top: 20px;
  left: 20px;
}

.tooltip:hover > .tooltiptext {
  visibility: visible;
}

